* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: var(--background);
  background: hsl(240 10 30);
}

html {
  height: 100%;
  font-size: 16px;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  color: hsl(240 10 25);
  background: var(--background);
  accent-color: hsl(240 60 60);
  cursor: crosshair;
  touch-action: manipulation;
  scroll-behavior: smooth;
  scrollbar-color: hsl(240 40 25 / .5) transparent;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  overscroll-behavior: contain;
}
body {
  font: .875rem/1.5 "Iosevka", "Source Han Sans SC", "Noto Sans SC", monospace;
  font-feature-settings: "cv03" 1, "cv07" 5, "cv10" 1;
}
a {
  text-decoration: none;
  color: hsl(30 40 50);
  cursor: pointer;
  transition: .2s ease-in-out;
}
svg {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 1.125rem;
  height: 1.125rem;
}
h1 {
  font: 1.25rem/2 "Zpix", "Source Han Sans SC", "Noto Sans SC", sans-serif;
  font-weight: normal;
}
h2 {
  margin: 1.125rem 0 1rem;
  font-size: 1rem;
  font-weight: 500;
}
h3 {
  margin: 2em 0 1em;
  font-size: 1em;
  font-weight: 500;
}
p {
  margin: .5em 0;
}
ul {
  list-style: none;
}

nav {
  position: fixed;
  inset: auto 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  font: .75rem/1 "Zpix", "Source Han Sans SC", "Noto Sans SC", sans-serif;
  z-index: 1;
}
nav div {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: .3125rem;
  border: 1px solid hsl(30 40 90);
  overflow: hidden;
  will-change: transform;
}
nav div a {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.125rem;
  line-height: 1.25;
}
nav div a:hover {
  background: hsl(30 40 90 / .5);
}
nav div svg {
  stroke-width: 0;
  width: 1.25rem;
  height: 1.25rem;
}
nav div span {
  display: flex;
  align-items: center;
  padding: .75rem;
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
}
nav div:first-child a {
  left: 0;
  width: 7rem;
  height: 3.5rem;
}
nav div:first-child a:hover {
  left: -3.5rem;
}
nav div:last-child a {
  flex-direction: column;
  top: 0;
  width: 3.5rem;
  height: 7rem;
}
nav div:last-child a:hover {
  top: -3.5rem;
}
nav div:last-child svg {
  transform: rotate(90deg);
}
nav ul {
  display: flex;
  margin: 0 auto;
  padding: .25rem;
  background: hsl(30 40 90 / .5);
  border-radius: .3125rem;
  backdrop-filter: blur(.5rem);
}
.nav-head {
  flex: 0 0 1px;
  margin: .25rem .5rem;
  background: hsl(30 40 50 / .25);
}
.nav-head:first-child {
  display: none;
}
.nav-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: .25rem;
  width: 3rem;
  height: 3rem;
  border-radius: .25rem;
}
.nav-item a:hover {
  background: hsl(30 40 60 / .25);
}
.nav-item a span {
  order: 1;
  margin: 0 -.05em 0 .05em;
}

main {
  margin: 0 auto;
  padding: 5rem 1.5rem;
  width: 50rem;
  max-width: 100%;
}
section {
  padding: 1rem 0;
}
section a:hover {
  color: hsl(240 10 25);
}

.color-gray {
  color: hsl(240 10 50);
}
.cell-c {
  text-align: center;
}
.cell-r {
  text-align: right;
}

.grid {
  max-width: 100%;
  overflow-x: auto;
}
.grid > li {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, max-content));
  justify-content: space-between;
  gap: 0 1em;
  padding: .25em 0;
  width: max-content;
  min-width: 100%;
  border-bottom: 1px solid hsl(240 20 25 / .1);
  transition: .2s ease-in-out;
}
.grid > li:hover {
  border-color: hsl(240 20 25 / .3);
}
.grid .th {
  position: sticky;
  top: 0;
  padding: 0 0 .25em;
  background: var(--background);
  border-color: hsl(240 20 25 / .3);
}

#table-田庄 > li {
  grid-template-columns: 4em 3em 2em 2em 2em 2em 2em 2em 2em 2em 19em;
}
#table-果树 > li {
  grid-template-columns: 3em 2em 2em 2em 2em 2em;
}
#table-野树 > li {
  grid-template-columns: 2em 3em 2em 2em;
}
#table-农舍 > li {
  grid-template-columns: 3em 3em 8em 15em;
}
#加工坊 li {
  grid-template-columns: 5em 2em 16em 23em 2em;
}
#table-加工机器 > li {
  grid-template-columns: 5em 2em 11em 16em;
}
#table-加工区 > li {
  grid-template-columns: 6em 2em 10em 10em 2em;
}
#table-桃源村 > li {
  grid-template-columns: 3em 3em 35em 9.5em;
}
#商圈 li {
  grid-template-columns: 5em 2.5em 12em 17em;
}
#table-商圈 li {
  grid-template-columns: 4em 2em 2em 2em 2em;
}
#table-工坊 > li {
  grid-template-columns: 3em 2em 2.5em 7em;
}
#table-灶台 > li {
  grid-template-columns: 5em 13.5em 18em 11em;
}
#table-博物馆 > li {
  grid-template-columns: 5em 3em 12em;
}
#table-竹林 > li {
  grid-template-columns: 4em 4em 2em 2em;
}
#table-清溪 > li {
  grid-template-columns: 4em 4em 4em 2em 18em 2em 2em 2em 2em;
}
#矿洞 li {
  grid-template-columns: 3em 2em 2em 2em 2em;
}
#table-矿洞 li {
  grid-template-columns: 5em 2em 2em 2em 2em 2em 11em;
}

@media (max-width: 70rem) {
  nav {
    inset: auto 1rem 1rem;
    font-size: .69rem;
  }
  nav div {
    display: none;
  }
  .nav-item a {
    padding: .125rem;
    width: 2.5rem;
    height: 2.5rem;
  }
  .nav-item svg {
    width: 1rem;
    height: 1rem;
  }
}

@media (max-width: 50rem) {
  nav::before, nav::after {
    content: "";
    position: absolute;
    width: 1em;
    height: 100%;
    border-radius: .3125rem;
    z-index: 1;
    pointer-events: none;
  }
  nav::before {
    left: 0;
    background: linear-gradient(to right, #f3ede7, transparent);
  }
  nav::after {
    right: 0;
    background: linear-gradient(to left, #f3ede7, transparent);
  }
  nav ul {
    overflow-x: auto;
  }
  #table-桃源村 > li {
    grid-template-columns: 3em 3em 22em 9.5em;
  }
}

@font-face {
  font-family: "Zpix";
  src: url("../fonts/zpix.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Iosevka";
  src: url("../fonts/iosevka.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: hsl(30 20 96);
}